# Something to consider:
# https://github.com/LGUG2Z/helix-vim/blob/master/config.toml
# theme = "onedark"
# theme = "catppuccin_frappe"
# theme = "rose_pine"
# theme = "adwaita-dark"
# theme = "adwaita-dave"
# theme = "ayu_dark"
theme = "dracula"

[editor]
bufferline = "always"
color-modes = true
cursor-shape.insert = "bar"
end-of-line-diagnostics = "hint"
file-picker.hidden = false
line-number = "relative"
lsp.display-inlay-hints = false
lsp.display-messages = true
mouse = false
trim-trailing-whitespace = true
# Not yet released
# rainbow-brackets = true
true-color = true
auto-format = true
rulers = [100]
text-width = 99

[editor.inline-diagnostics]
# Minimum severity to show a diagnostic on the primary cursor's line.
# Note that `cursor-line` diagnostics are hidden in insert mode.
cursor-line = "hint"
other-lines = "hint"

[editor.soft-wrap]
enable = true
wrap-at-text-width = true

[editor.indent-guides]
render = true
character = "┊"

[keys.normal]
C-p = ":sh sd notes preview"
g = { a = "code_action" }                                              # Maps `ga` to show possible code actions
A-a = [":pipe-to sd notes add-word", ":config-reload", ":lsp-restart"]
A-w = ":bc"
A-s = ":w"
";" = "command_mode"
"'" = "collapse_selection"
d = ["yank_main_selection_to_clipboard", "delete_selection"]
y = ["yank_main_selection_to_clipboard", "normal_mode"]
p = ["paste_clipboard_after", "collapse_selection"]
P = ["paste_clipboard_before", "collapse_selection"]

[keys.normal."f"]
f = "file_picker_in_current_directory"
F = "file_picker"
b = "file_picker_in_current_buffer_directory"
"." = ":toggle-option file-picker.git-ignore"
g = "global_search"
e = "file_explorer"
r = ":reload-all"
w = ":toggle whitespace.render all"
W = ":set whitespace.render none"
s = ":toggle soft-wrap.enable"

[keys.insert]
A-s = ":w"
A-w = ":bc"

[keys.select]
"'" = "collapse_selection"
d = ["yank_main_selection_to_clipboard", "delete_selection"]
y = ["yank_main_selection_to_clipboard", "normal_mode"]
p = "replace_selections_with_clipboard"
P = "paste_clipboard_before"


[editor.statusline]
left = [
  "mode",
  "spinner",
  "spacer",
  "read-only-indicator",
  "file-modification-indicator",
  "diagnostics",
  "workspace-diagnostics",
]

center = ["file-name"]

right = [
  "position",
  "total-line-numbers",
  "position-percentage",
  "file-encoding",
  "file-type",
  "selections",
]

separator = "│"
