[language-server.ltex]
command = "ltex-ls"
[language-server.ltex.config]
ltex.dictionary."en-US" = [
  "CUI",
  "CMMC",
  "OFA",
  "JLC",
  "OGA",
  "MacroFab",
  "Tp-Note",
  "Zettelkasten",
  "actigraph",
  "iCalendar",
  "actigraphy",
  "ActigPatch",
  "Vikand",
  "Wireguard",
  "ZTU",
  "MTEC",
  "Macrofab",
  "Actigraphy",
  "vendored",
  "Bunzels",
  "Vanlife",
  "Homelab",
  "IFBV",
  "ISET",
  "UVLO",
  "Digikey",
  "changelist",
  "Changelist",
  "vias",
  "GPIO",
  "Oren",
  "Ztv",
]
# ltex.dictionary."en-US" = ":/Users/dave/.config/helix/ltex.dictionary.en-US.txt"

# command = "ltex-cli"
# args = ['--server-command-line=/run/current-system/sw/bin/ltex-ls', '--client-configuration=/Users/dave/temp/ltex.json', '-']

[language-server.nix]
command = "rnix-lsp"

[language-server.typos]
command = "typos-lsp"

[language-server.sourcekit-lsp]
command = "sourcekit-lsp"

[language-server.clangd]
command = 'clangd'
args = [
  '--function-arg-placeholders',
  '--completion-style=detailed',
  '--clang-tidy',
  '--log=verbose',
]

[[language]]
name = "python"
formatter = { command = "black", args = ["--quiet", "-"] }
auto-format = true

[language-server.rust-analyzer]
environment = { "RA_LOG" = "warn" }
config.check.workspace = true
config.check.command = "clippy"
config.diagnostics.disabled = ["inactive-code"]
command = "rust-analyzer"
args = ["--log-file", "/tmp/rust-analyzer.log"]

[[language]]
name = "rust"
language-servers = ['rust-analyzer', 'scls']

[[language]]
name = "javascript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
auto-format = true

[[language]]
name = "markdown"
auto-format = true
language-servers = ["ltex", "marksman"]
file-types = ["md", "txt"]
scope = "text.markdown"
formatter = { command = "dprint", args = [
  "fmt",
  "--stdin",
  "md",
  "-c",
  "/Users/dave/.config/dprint/dprint.json",
] }

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["fmt", "-f", "-"] }
# { command = "dprint", args = ["fmt", "--stdin", "toml", "-c", "/Users/dave/.config/dprint/dprint.json"] }

[[language]]
name = "task"
language-servers = ["ltex", "marksman"]
file-types = ["task"]
scope = "text.markdown"

[[language]]
name = 'c'
auto-format = true
language-servers = ['clangd']

[[language]]
name = 'nix'
language-servers = ['nix', 'typos']
formatter = { command = "alejandra" }
auto-format = true

[[language]]
name = "swift"
formatter = { command = "swift-format", args = [
  "format",
  "--configuration",
  "/Users/dave/.swift-format",
] }
auto-format = true
language-servers = ['sourcekit-lsp', 'typos']

[[language]]
name = "bash"
file-types = ["bash", { glob = "sd_scripts/*" }]

# For snippets
[language-server.scls]
command = "simple-completion-language-server"

[language-server.scls.config]
feature_words = false                # enable completion by word
feature_snippets = true              # enable snippets
snippets_first = true                # completions will return before snippets by default
snippets_inline_by_word_tail = false # suggest snippets by WORD tail, for example text `xsq|` become `x^2|` when snippet `sq` has body `^2`
feature_unicode_input = false        # enable "unicode input"
feature_paths = false                # enable path completion
feature_citations = false            # enable citation completion (only on `citation` feature enabled)

# write logs to /tmp/completion.log
[language-server.scls.environment]
RUST_LOG = "info,simple-completion-language-server=info"
LOG_FILE = "/tmp/completion.log"
